<canvas id="gameCanvas" width="1366", height="768">
    <h1>Your browser does not support the HTML5 canvas</h1>
    <p>Try Chrome or Firefox or Edge or something</p>
</canvas>
<script>
    nickname="<%- name %>"
    code = "<%- c %>"
    private = "<%- priv %>" || "off";
</script>
<script src="/scripts/drawing.js"></script>
<script src="../scripts/game.js"></script>
<!-- original: width="1600", height="800" -->