<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="full-width">
      <div class="container centered blue">
        <h1>BattleShip</h1>
        <h4 class="button blue lighter">Home</h4>
        <h4 class="button blue lighter">Play</h4>
        <h4 class="button blue lighter">Stats</h4>
        <h4 class="button blue lighter">About</h4>
      </div>
    </header>
  </body>
</html>
