<div id="error-box"></div>
<div id="stats">
    <p id="stat_playersOnline">Players online: <strong><em>%stat%</em></strong></p>
    <p id="stat_GamesInProgress">Games in progress: <strong><em>%stat%</em></strong></p>
    <p id="stat_GamesPlayedToday">Games played today: <strong><em>%stat%</em></strong></p>
    <p id="stat_GamesPlayedTotal">Games played total: <strong><em>%stat%</em></strong></p>
</div>

<script src="/scripts/stats.js"></script>