<div class="centered content">
    <div id="stats">
        <p class="statHeader">Players online</p>
        <span id="stat_playersOnline" class="statStyle">%stat%</span>
        <p class="statHeader">Games in progress</p>
        <span id="stat_GamesInProgress" class="statStyle">%stat%</span>
        <p class="statHeader">Games played today</p>
        <span id="stat_GamesPlayedToday" class="statStyle">%stat%</span>
        <p class="statHeader">Games played total</p>
        <span id="stat_GamesPlayedTotal" รณ class="statStyle">%stat%</span>
    </div>
    <div id="error-box-stats"></div>
</div>
<script src="/scripts/stats.js"></script>